<div class="sixteen columns clearfix pitch">
  Explore, catch monsters, and battle friends!<br>
  An action packed adventure game set in your everyday life!<br><br>
  <b class="soon">Coming Soon!</b>
</div>
<div class="sixteen columns clearfix">
  <div class="eight columns alpha"><div class="iphone"></div></div>
  <div class="eight columns omega"><div class="android"></div> </div>
</div>
